<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %> <% if (user) { %>
    <h1><%= user.fullName %></h1>
    <% } %>
    <h1></h1>
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
